/*Asterisk wildcard selctor to override defualt styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: lightcoral;
}

/*main content*/
main {
    background: lightblue;
}

/*footer*/
footer {
    background-color: orange;
}
